figcaption {
    text-align: center;
    font-style: italic;
}

.subtitle {
    text-align: center;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
